<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
    <%= t('spree_reviews.review_settings') %>
<% end %>

<%= form_tag(admin_review_settings_path, :method => :put) do %>
    <div class="field">
      <%= preference_field_tag 'preferences[include_unapproved_reviews]', Spree::Reviews::Config[:include_unapproved_reviews], :type => :boolean %>
      <%= label_tag 'preferences[include_unapproved_reviews]', t('spree_reviews.include_unapproved') %>
    </div>

    <div class="field">
      <%= preference_field_tag 'preferences[feedback_rating]', Spree::Reviews::Config[:feedback_rating], :type => :boolean %>
      <%= label_tag 'preferences[feedback_rating]', t('spree_reviews.feedback_rating') %>
    </div>

    <div class="field">
      <%= preference_field_tag 'preferences[show_email]', Spree::Reviews::Config[:show_email], :type => :boolean %>
      <%= label_tag 'preferences[show_email]', t('spree_reviews.show_email') %>
    </div>

    <div class="field">
      <%= preference_field_tag 'preferences[require_login]', Spree::Reviews::Config[:require_login], :type => :boolean %>
      <%= label_tag 'preferences[require_login]', t('spree_reviews.require_login') %>
    </div>

    <div class="field">
      <%= label_tag 'preferences[preview_size]', t('spree_reviews.preview_size') %>
      <%= preference_field_tag 'preferences[preview_size]', Spree::Reviews::Config[:preview_size], :type => :integer %>
    </div>

    <div class="form-buttons" data-hook="buttons">
      <%= button t(:update), 'icon-refresh' %>
    </div>
<% end %>
